# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (MongoDB Atlas / Local MongoDB URI)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/optirail?retryWrites=true&w=majority

# JWT Authentication Configuration
JWT_SECRET=super_secret_optirail_jwt_signature_key_2026
JWT_EXPIRES_IN=7d
